body
{
	text-align: center;
	animation-name: one;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}
span
{
	font-size: 12px;
	font-weight: bolder;
}
canvas
{
	background: pink;
	border-radius: 20px;
}
@keyframes one {
from {background-color: chocolate;}
to {background-color: chartreuse;}
}